.aboutBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: calc(100vh - 155px);
  padding-bottom: 150px;
  overflow: hidden;
  padding: 0 2rem;
}
.flexBody {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.name {
  font-size: 5rem;
  font-weight: 700;
  text-shadow: -6px 6px rebeccapurple;
}
.description {
  font-weight: 400;
  font-size: 2rem;
}
.aboutImg {
  height: 500px;
  width: 500px;
  overflow: hidden;
}
@media all and (max-width: 1000px) {
  .aboutBody {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;
  }
  .name {
    font-size: 2rem;
  }
  .description {
    font-size: 1.5rem;
    padding: 0;
  }
  .flexBody {
    justify-content: center;
    align-items: center;
  }
  .mobileSocials {
    padding-top: 10px;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  .description {
    text-align: center;
    padding: 2rem 0;
  }
  .aboutLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .aboutResume {
    border: 1px solid rebeccapurple;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-top: 3rem;
    background-color: rebeccapurple;
    color: black;
    border-radius: 2rem;
  }
}
