.navBody {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}
.navLogoSection,
.navLinkSection,
.navSocialSection,
.navResumeSection {
  padding: 3rem 2rem;
  display: flex;
  gap: 2rem;
  border-left: 1px solid rgb(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
}

.navLogoSection,
.navLinkSection {
  flex-basis: calc(100% / 3);
}

.navSocialSection,
.navResumeSection {
  flex-grow: 1;
}

.navLinkSection > a,
.navResumeSection {
  font-weight: 400;
  font-size: larger;
}

.navLogoSection {
  justify-content: flex-start;
}

.navLinkSection {
  gap: 6rem;
}

.navSocialSection {
  gap: 3rem;
}

.navLogoSection > .BiBowlingBall {
  cursor: pointer;
}

.navLinks {
  transition: all 0.3s ease-out;
}
.navLinks:hover {
  color: rebeccapurple;
}

.FiGithub,
.FiLinkedin,
.FiTwitter {
  transition: all 0.3s ease-out;
}

.FiGithub:hover,
.FiLinkedin:hover,
.FiTwitter:hover {
  transform: scale(1.25);
}

.navResumeSection {
  cursor: pointer;
}
.navResumeSection:hover {
  background-color: rgba(255, 255, 255, 0.02);
}

@media screen and (max-width: 900px) {
  .navLogoSection,
  .navSocialSection,
  .navResumeSection {
    display: none;
  }
  .navBody {
    display: flex;
    justify-content: center;
    min-width: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(5, 10, 24);
  }
  .navLinkSection {
    border-right: 1px solid rgb(255, 255, 255, 0.1);
  }
}
